<h1>Products#index</h1>

<h3><%= link_to "Add new product", new_product_path%> </h3>

<ul>
<% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product)%>
    <br>
    <%= product.description %>
    <br>
    <%= product.price_in_cents %></li>
<% end %>
</ul>
